<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://dubbo.apache.org/schema/dubbo
       http://dubbo.apache.org/schema/dubbo/dubbo.xsd">

    <dubbo:application name="${dubbo.application.name}"/>
    <dubbo:registry address="${dubbo.registry.address}"/>
    <dubbo:protocol port="${dubbo.protocol.port}" name="${dubbo.protocol.name}"/>
    <dubbo:provider loadbalance="${dubbo.provider.loadbalance}" timeout="${dubbo.provider.timeout}"
                    retries="${dubbo.provider.retries}"/>

    <dubbo:annotation package="com.admin.service.implement"/>
</beans>